@page "/laps"
@inject ISessionManagerService sessionManager
@inject NavigationManager NavigationManager
@inject ILDAPService LDAPService
@inject IJSRuntime JSRuntime

@if (authOK)
{
<div class="container mt-5">

    <Select2 TItem="ADComputer"
             TSource="ADComputer[]"
             IdSelector="i => i.Name"
             TextSelector="i => i.Name.ToString()"
             Datasource="DataSource"
             Value="SelectedItems"
             GetElementById="(items, filter, token) => Task.FromResult(items.SingleOrDefault(i => i.Name.Equals(filter)))"
             FilterFunction="SearchAsync"
             OnValueChanged="SelectedComputerChanged"
             Multiselect="false"
             OptionLayout="@(p => (MarkupString)$"<i class='fas fa-desktop'></i> {p.Name}")"
             Select2Options="InputSelect2Options">

    </Select2>

    @foreach (ADComputer item in SelectedItems)
    {
        <div class="card mt-5">
            <h5 class="card-header" id="cardHeader">@item.Name</h5>

            <div class="card-body">

                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key" title="LAPS Password" data-toggle="tooltip" />
                        </span>
                    </div>

                    <pre class="form-control" id="lapspw">
                    <code>@item.LAPSPassword</code>
                    </pre>

                    <button class="btn btn-light clipboard-btn" id="clipboard-btn" data-clipboard-target="#lapspw">
                        <i class="fas fa-copy" />
                    </button>

                </div>

                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-hourglass-end" title="LAPS Password Expire Dare" data-toggle="tooltip" />
                        </span>
                    </div>

                    <pre class="form-control" id="lapspwexpiredate">
                    <code>@item.LAPSPasswordExpireDate.ToString()</code>
                    </pre>

                </div>

            </div>

        </div>

    }

    @if (!String.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="mt-5 alert alert-danger" role="alert">
            @ErrorMessage

        </div>
    }

</div>
}

@code {

    private bool authOK { get; set; }

    private List<ADComputer> SelectedItems { get; set; } = new List<ADComputer>();

    private ADComputer[] DataSource { get; set; } = new List<ADComputer>().ToArray();

    private string ErrorMessage { get; set; } = String.Empty;

    private InputSelect2Options InputSelect2Options { get; set; }

    private async Task SelectedComputerChanged()
    {

        ErrorMessage = String.Empty;

        try
        {
            foreach (var item in SelectedItems)
            {
                if (item != null)
                {
                    var tmp = await LDAPService.GetADComputerAsync(await sessionManager.GetLdapCredentialsAsync(), item.Name);
                    item.LAPSPassword = tmp.LAPSPassword;
                    item.LAPSPasswordExpireDate = tmp.LAPSPasswordExpireDate;
                }

            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }

        StateHasChanged();
    }

    private async Task<List<ADComputer>> SearchAsync(ADComputer[] allItems, string filter, System.Threading.CancellationToken token)
    {
        DataSource = (await LDAPService.SearchADComputersAsync(await sessionManager.GetLdapCredentialsAsync(), filter)).ToArray();

        return await LDAPService.SearchADComputersAsync(await sessionManager.GetLdapCredentialsAsync(), filter);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        authOK = await sessionManager.IsUserLoggedInAsync();

        if (firstRender)
        {
            InputSelect2Options = new InputSelect2Options();

            InputSelect2Options.AllowClear = true;
            InputSelect2Options.MinimumInputLength = 4;
            InputSelect2Options.Placeholder = "Search by Computername";
            InputSelect2Options.Theme = "bootstrap4";
            InputSelect2Options.Multiple = false;
            InputSelect2Options.CloseOnSelect = true;

            await JSRuntime.InvokeVoidAsync("initClipboardJS");
        }

        StateHasChanged();

        if (!authOK)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

}
